
.banner {
  background-image: url(../../banner.png);
  background-size: cover;
  background-position: center;
  padding: 150px 0px;
  background-size: cover;
  background-position: center;
 }

 .banner {
  background-image:
    linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 50%),
    url(../../images/banner.png);
}


 .banner h1 {
  position: relative;
  font-size: 60px;
  color: white;
 }

 .banner h2 {
  position: relative;
  font-size: 20px;
  opacity: 0.8;
  margin-bottom:45px;
  color: white;
  font-style: italic;
 }
